 /* Extra small devices (phones, 600px and down) */
html, body{
    margin: 0;
    padding: 0;
    background-color: #043959;
    font-family: monospace;
}


h1{
    font-size: 4.5em;
    font-weight: bold;
    color: #DE9126;
    margin: 0;
}
h2{
    font-size: 3em;
    font-weight: bold;
    color: #DE9126;
    margin: 0;
}
h3, .title-container h2{
    font-size: 1.7em;
    font-weight: bold;
    color: #f0f6fc;
    opacity: 0.9;
    margin: 0;
}
p{
    color: #d2d7d3;
    font-size: 1em;
    font-family: Verdana, sans-serif;
}

li{
    color: #d2d7d3;
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
    margin: 10px 0;
}

a{
    color: #DE9126;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

button{
    padding: 10px 30px;
    background: transparent;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    color: #DE9126;
    margin: 10px;
    border: 2px solid #E05C5D;
    cursor: pointer;
}

nav{
    text-align: center;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px;
    font-weight: bold;
}

.heading{
    text-align: center;
}


.container {
    width: 100%;
    height: 600px;
    position: relative;
    background: linear-gradient(to bottom, #01263a 0%, #4f94d4 70%, #c5d9ed 100%);
    overflow: hidden;
}

.title-container{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 140px;
    text-align: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(0, 0, 0, 0.5);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: yellow;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  content: "🌙";
  display: block;
  height: 26px;
  width: 26px;
  line-height: 26px;
  text-align: center;
}

input:checked + .slider.round:before {
  content: "☀️";
  background-color: rgba(0, 0, 0, 0);
}







.ball-container{
    margin-top: 260px;
}
.disc-1 {
    position: relative;
    margin: auto;
    width: 350px;
    height: 350px;
    background: #72aee6;
    opacity: 0.2;
    border-radius: 50%;
    animation: glow infinite 3s;
    animation-direction: alternate;
}
.disc-2 {
    position: relative;
    margin: auto;
    width: 260px;
    height: 260px;
    top: -305px;
    background: #9ec2e6;
    opacity: 0.4;
    border-radius: 50%;
    animation: glow infinite 2s;
    animation-direction: alternate;
    animation-delay: -2s;
}
.disc-3 {
    position: relative;
    margin: auto;
    width: 180px;
    height: 180px;
    top: -525px;
    border-radius: 50%;
    background: #f0f6fc;
    opacity: 0.6;
}
@keyframes glow {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(1.05);
  }
}



.landscape-1 {
    position: absolute;
    bottom: 10px;
    left: -30px;
    width: 120%;
    height: 130px;
    background-color: #9ec2e6;
    transform: rotate(6deg);
}
.landscape-2 {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 120%;
    height: 150px;
    background-color: #72aee6;
    transform: rotate(-6deg);
}
.landscape-3 {
    position: absolute;
    bottom: -35px;
    left: -10px;
    width: 120%;
    height: 150px;
    background-color: #4f94d4;
    transform: rotate(2deg);
}
.landscape-4 {
    position: absolute;
    bottom: -70px;
    left: -10px;
    width: 120%;
    height: 150px;
    background-color: #135e96;
    transform: rotate(-3deg);
}
.landscape-5 {
    position: absolute;
    bottom: -150px;
    width: 100%;
    height: 170px;
    background-color: #043959;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, .2);
}
.tree-1 {
    position: absolute;
    top: 82%;
    left: 30%;
    height: 15px;
    width: 20px;
    background-color: #386fa4;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-2 {
    position: absolute;
    top: 81%;
    left: 70%;
    height: 20px;
    width: 13px;
    background-color: #4f94d4;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-3 {
    position: absolute;
    top: 78%;
    left: 5%;
    height: 20px;
    width: 18px;
    background-color: #386fa4;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-4 {
    position: absolute;
    top: 78%;
    left: 60%;
    height: 20px;
    width: 15px;
    background-color: #386fa4;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-5 {
    position: absolute;
    top: 83%;
    left: 80%;
    height: 30px;
    width: 25px;
    background-color: #133c55;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-6 {
    position: absolute;
    top: 85%;
    left: 20%;
    height: 35px;
    width: 25px;
    background-color: #133c55;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.tree-7 {
    position: absolute;
    top: 80%;
    left: 40%;
    height: 35px;
    width: 25px;
    background-color: #386fa4;
    clip-path: polygon(50% 0%, 22% 100%, 75% 100%);
    box-shadow: 2px 0 2px 4px rgba(0, 0, 0, .1);
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    animation-name: star-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.s1 {
    top: 50px;
    left: 10%;
}
.s2 {
    top: 80px;
    left: 15%;
    animation-delay: -1s;
}
.s3 {
top: 300px;
left: 15%;
animation-delay: -2s;
}
.s4 {
top: 200px;
left: 30%;
animation-delay: -7s;
}
.s5 {
top: 160px;
left: 35%;
animation-delay: -8s;
}
.s6 {
top: 38px;
left: 40%;
animation-delay: -1s;
}
.s7 {
top: 180px;
left: 45%;
animation-delay: -3s;
}
.s8 {
top: 270px;
left: 23%;
animation-delay: -9s;
}
.s9 {
top: 130px;
left: 55%;
animation-delay: -10s;
}
.s10 {
top: 100px;
left: 60%;
animation-delay: -2s;
}
.s11 {
top: 50px;
left: 65%;
animation-delay: -4s;
}
.s12 {
top: 250px;
left: 70%;
animation-delay: -11s;
}
.s13 {
top: 100px;
left: 75%;
animation-delay: -12s;
}
.s14 {
top: 200px;
left: 80%;
animation-delay: -2.8s;
}
.s15 {
top: 160px;
left: 85%;
animation-delay: -5s;
}
.s16 {
top: 38px;
left: 90%;
animation-delay: -3.2s;
}
.s17 {
top: 180px;
left: 95%;
animation-delay: -13s;
}
.s18 {
top: 270px;
left: 97%;
animation-delay: -6s;
}
.s19 {
top: 130px;
left: 5%;
animation-delay: -3.8s;
}
.s20 {
top: 70px;
left: 50%;
animation-delay: -4s;
}


@keyframes star-animation{
    0%{
        visibility: visible;
        width: 1px;
        height: 1px;
    }
    10%{
        width: 2px;
        height: 2px;
    }
    50%{
        width: 2px;
        height: 2px;
    }
    60%{
        width: 4px;
        height: 4px;
    }
    90%{
        width: 1px;
        height: 1px;
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}


.content-container{
    margin: 0 20px;
}

.about-container, .contact-container{
    text-align: center;
    margin: 40px auto 80px auto; 
    max-width: 900px;
}


.underline-container{
    text-align: center;
    font-size: 0;
    margin: 10px;
}

.underline{
    height: 7px;
    width: 7px;
    background-color: #E05C5D;
    display: inline-block;
    transform: rotate(-45deg);
}

.work-container{
    margin: 40px auto 80px auto;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .3);
    padding: 20px 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 400px;
}


.visible{
    display: inline;
}
.hidden{
    display: none;
}

.card .info-container{
    text-align: center;
    margin: 15px 15px 0 15px;
}
.page .info-container{
    margin: 15px 15px 0 15px;
}
.page .info-container h3{
    margin-top: 30px;
}


.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}



.page .image-container{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    user-select: none;
}


.page .image-container img{
    margin-right: 20px;
    width: fit-content;
}





.fullscreen-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-img img {
  max-width: 100%;
  max-height: 90%;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 36px;
  cursor: pointer;
  z-index: 3;
}

body.no-scroll {
  overflow: hidden;
}






.page-heading{
    font-weight: bold;
}

.image-container{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px 10px 20px;
}
.image-container img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
 
}

.icon{
    margin: 20px 2px 0 2px;
    filter: invert(44%) sepia(58%) saturate(977%) hue-rotate(316deg) brightness(95%) contrast(83%);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .work-container{
        justify-content: center;
        margin-bottom: 100px;
        max-width: 720px;
    }

    .visible{
        display: flex;
    }
    

    .card{
        width: 100%;
    }

    .card .info-container{
        max-width: 300px;
        position: relative;
    }
    .card .info-container button{
        margin: 0;
        position: absolute;
        bottom: 0;
    }
    .work-container.right .card .image-container{
        order: 1;
    }
    .work-container.left .card .image-container{
        order: 2;
    }
    .work-container.right .card .info-container{
        order: 2;
        text-align: left;
        margin: 10px 10px 10px 10px;
    }
    .work-container.left .card .info-container{
        order: 1;
        text-align: right;
        margin: 10px 20px 10px 0px;
    }
    .work-container.left .card .info-container button{
        right: 0;
    }


    .page.visible{
        display: inline;
    }
    .image-container{
        max-width: 100%;
    }
    .image-container img{
        max-width: 400px;
    }
    .page .info-container{
        max-width: 100%;
        margin: 10px 10px 10px 20px;
    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .content-container{
        margin: 160px auto;
        transform: translate(-50%, -50%) scale(1.2) translate(0%, 50%);
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
    }
    .contact-container{
        padding-bottom: 50px;
    }
} 